.nested-fields
  = f.input :image, as: :image_preview, input_html: {preview_version: :thumb }
  = f.input :description, input_html: { class: 'autosize span4' }
  .links.control-group
    .controls
      = link_to_remove_association "Remove existing photo", f, class: 'btn btn-small btn-danger'