.row
  .span12
    %h1 About the site

    %p.lead
      = link_to 'Doored.ca', root_path
      a simple site where Canadian cyclists who were "doored" can report their incident for the purpose of gathering stats

%hr

.row
  .span12
    %h2 Why?

.row
  .span4
    %p.lead.well
      Because, back in 2012, the Toronto police redefined what a "collision" is, and apparently that's a good enough reason to discontinue tracking "dooring" incidents.<a href="#foot-1"><sup>[1]</sup></a>
  .span4
    %p.lead.well
      Because the police won't track dooring until they're ordered to do so.<a href="#foot-2"><sup>[2]</sup></a>
  .span4
    %p.lead.well
      Because despite the fact that the Police board wants Toronto cops to review the policy, It'll take the Toronto Police <strong>3 months to respond</strong>.<a href="#foot-3"><sup>[3]</sup></a> I built a reporting database application in just 1/6 of that time.

.row
  .span12
    %p.lead.well
      Because I feel it's important to track and record something that's an issue in this community. By not tracking these incidents, how can we even begin to adequately address the issue?

%hr

.row
  .span12
    %h3 What's a "doorprize", "dooring", to be "doored"?

    %p
      A
      %strong "doorprize"
      is a sarcastic term used by cyclists when a collision occurs due to a car door being carelessly opened on a cyclist's path. This is called being "doored". Dooring incidents cause numerous injuries each year and, in some cases, fatalities.

%hr

.row
  .span12
    %h3 Hey Justin, I have an idea or want to contribute!

.row
  .span6
    %h4 Excellent, if you're a developer:
    .well
      %ul
        %li
          Log in to your GitHub account and <a href="https://github.com/f3ndot/doorprize/issues">file a new issue</a>.

  .span6
    %h4 Or, if you're just an average peep:
    .well
      %ul
        %li Send me a tweet at <strong><a href="https://www.twitter.com/f3ndot">@f3ndot</a></strong> or at <strong><a href="https://www.twitter.com/dooredCA">@dooredCA</a></strong>
        %li Email me at <strong><a href="mailto:me@justinbull.ca">me@justinbull.ca</a></strong>

%hr

.row
  .span12
    %h3 Press

.row
  .span6
    %ul
      %li <strong>Metro Morning, CBC Radio 1:</strong> <a href="http://www.cbc.ca/metromorning/episodes/2013/08/08/dooring/">"Dooring"</a>
      %li <strong>CBC News:</strong> <a href="http://www.cbc.ca/news/canada/toronto/story/2013/08/08/toronto-door-prize-data-gathering.html?cmp=rss">Cycling website to record Toronto 'dooring' accidents</a>
      %li <strong>The Star:</strong> <a href="http://www.thestar.com/news/gta/2013/08/08/website_will_enable_cyclists_to_record_dooring_incidents.html">Website will enable cyclists to record “dooring” incidents</a>
      %li <strong>Newstalk 1010:</strong> <a href="/newstalk1010-interview.mp3">Full interview and caller reactions</a> (16 minutes) (hosted with permission)
  .span6
    %ul
      %li <strong>Yahoo! News Canada:</strong> <a href="http://ca.news.yahoo.com/blogs/dailybrew/toronto-man-track-cycling-door-prize-accidents-absence-212535143.html">Toronto man to track cycling ‘door prize’ accidents in absence of police stats</a>
      %li <strong>blogTO:</strong> <a href="http://www.blogto.com/city/2013/08/new_website_tracks_cyclists_who_get_doored_in_toronto/">New website tracks cyclists who get doored in Toronto</a>
      %li <strong>Ottawa Morning, CBC Radio 1:</strong> <a href="http://www.cbc.ca/player/AudioMobile/Ottawa%2BMorning/ID/2401837136/">Dooring</a>

%hr

.row
  .span12
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="MP45QVWYY9UTS">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


.row
  .span12
    %h4.text-center Thank You Donors!

    %p.text-center.well
      Amanda Peet (<a href="https://www.twitter.com/kiwinerd">@kiwinerd</a>)
      • Jennifer Waddles (<a href="https://www.twitter.com/jwaddles29">@jwaddles29</a>)
      • Chris McQuinn (<a href="https://www.twitter.com/kulz">@kulz</a>)
      • Matthew Browning (<a href="https://www.twitter.com/CabbagetownMatt">@CabbagetownMatt</a>)
      • Lloyd Alter (<a href="https://www.twitter.com/lloydalter">@lloydalter</a>)
      • Nick Welke (<a href="https://www.twitter.com/njcwelke">@njcwelke</a>)
      • Eric Johnson (<a href="https://www.twitter.com/ZisIsKAOS">@ZisIsKAOS</a>)
      • Phil Pothen (<a href="https://www.twitter.com/philpothen">@philpothen</a>)
      • Liz Sutherland (<a href="https://www.twitter.com/lizjsutherland">@lizjsutherland</a>)
      • Anonymous
      • Anonymous
      • John Jones (<a href="https://www.twitter.com/jjcitytor">@jjcitytor</a>)
      • Ben Elling (<a href="https://www.twitter.com/benelling">@benelling</a>)
      • Emmanuel Franco-Laporte (<a href="https://www.twitter.com/gapagos">@gapagos</a>)

%hr

.row
  .span12
    %h4 Footnotes
    %small
      %ol
        %li <a id="foot-1" href="http://www.thestar.com/news/gta/transportation/2013/06/25/toronto_cyclists_fear_dooring_but_police_dont_track_it.html">Toronto cyclists fear dooring, but police don't track it</a>. Published on Tue Jun 25 2013
        %li <a id="foot-2" href="http://www.thestar.com/news/gta/2013/08/06/toronto_police_wont_track_dooring_until_theyre_ordered_to_do_so.html">Toronto police won't track 'dooring' until they're ordered to do so</a>. Published on Tue Aug 06 2013
        %li <a id="foot-3" href="http://www.thestar.com/news/gta/2013/08/06/police_board_wants_toronto_cops_to_review_dooring_policy.html">Police board wants Toronto cops to review ‘dooring’ policy</a>. Published on Tue Aug 06 2013
